<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Html 5 document</title>
</head>
<body>
    <header>
        <h3>R_Url</h3>
         <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="mailto:raccourciurl@gmail.com">Contact</a></li>
            </ul>
        </nav>
    </header>