/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  nav a:hover {
    color: #ccc;
  }
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* Styles du formulaire */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  input[type="text"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  #rac {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
  }
  #telecharge{
    background-color:transparent;
    color: #4caf61;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
   
  }
  #delete{
    background-color:transparent;
    color: #9e0000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
   
  }
  #rac:hover {
    background-color: #45a049;
  }
  
  /* Styles des liens */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Styles des QR codes */
  img {
    display: block;
    margin: 10px 0;
    max-width: 150px;
  }
  

  @media only screen and (max-width: 600px) {
    header {
      padding: 10px;
    }
  
    .logo {
      font-size: 20px;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin-left: 0;
      margin-bottom: 10px;
    }
  
    main {
      padding: 10px;
    }
  
    h1 {
      font-size: 24px;
    }
  
    input[type="text"] {
      padding: 8px;
      font-size: 14px;
    }
    #rac{
      padding: 8px 16px;
      font-size: 14px;
    }
    #telecharge{
      padding: 8px 16px;
      font-size: 14px;
    }
    #delete {
      padding: 8px 16px;
      font-size: 14px;
    }
  
    img {
      max-width: 100px;
    }
  }

